.cache
.fabric
backups
crash-reports
data
debug
downloads
logs
moddata
saves
schematics
screenshots
server-resource-packs
xaero
XaeroWaypoints*
command_history.txt
servers.dat*
emi.json
usercache.json

*.log

mods/Distant*
mods/emi*
mods/litematica*

resourcepacks/*Evengard*