.cache
.fabric
backups
crash-reports
CustomSkinLoader
data
downloads
flashback
logs
moddata
saves
schematics
screenshots
server-resource-packs
xaero
XaeroWaypoints*
command_history.txt
options.txt
servers.dat
servers.dat_*
servers.dat.*
usercache.json

mods/Flashback-0.13.0-for-MC1.21.1.jar
mods/flashback\ incompat